body {
  background-color:rgba(20, 26, 110, 0.07);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: rgb(110, 26, 26);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  color: rgb(110, 26, 26);
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.myPara {
  font-size: 50px;
  text-align: center;
  color: green;
  border: 2px dashed rgb(110, 26, 26);
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  background-color: rgba(110, 26, 26, 0.05);
  padding: 5px;
  color: rgb(20, 129, 111);
}

.gridItem {
  background-color: rgba(110, 26, 26, 0.4);
  border: 1px dashed rgba(20, 129, 111, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.gridItem:rowChild {
  grid-row-start: 3;
  grid-row-end: 5;
}
.span2Columns {
  grid-column: span 2;
}
.span3Columns {
  grid-column: span 3;
}

.span2Rows {
  grid-row-start: 2 bar;
  grid-row-end: auto;
}
* {
  text-align: right;
}

.rotateText45Deg {
  transform-origin: center;
  
  

}